<div id="page1" data-role="page">
  <div data-role="header"><h1>プラグNOW！</h1></div>

  <div data-role="content">
    <div class="top_pic">プラグNOW！</div>
    <div class="error_message"></div>
    <div class="action_area">
      <form action="/index" method="GET" class="search_form" data-ajax="false">
        <div class="now">
          <input type="hidden" name="lat" />
          <input type="hidden" name="lng" />
        </div>
        
        <div class="search">
        </div>
      </form>
    </div>
    <br>
    <br />
    <br />
    <div class="list_area">
    <% if @distance.present? %>
      <ul data-role="listview" 
          data-inset="true">
      <% @distance.each_with_index do |dis, i| %>
        <li><a href="#page2" value="<%=@entry_ids[i] %>">
          <%= "[" + dis.to_s + "m]" + @titles[i] %>
        </a></li>
      <% end %>
      </ul>
    <% end %>
    </div><!-- end list_area -->
  </div><!-- end content -->

  <div data-role="footer">&copy; www.plug-now.com</div>
</div><!-- end page1 -->



<div id="page2" data-role="page">
  <div id="p2_header" data-role="header">
    <h1>次のページ</h1>
    <a href="#page1" data-icon="arrow-l">戻る</a>
  </div>
  
  <div data-role="content">
    <div id="p2_map">
    </div>
    <div class="detail_area">
      <div class="p2_address">
        <span>住所：</span>
        <span class="data"></span>
      </div>
      <div class="p2_tel">
        <span>TEL：</span>
        <span class="data"></span>
      </div>
      <div class="p2_wireless">
        <span>無線LAN：</span>
        <span class="data"></span>
      </div>
      <div class="p2_category">
        <span>カテゴリ：</span>
        <span class="data"></span>
      </div>
      <div class="p2_url_pc">
      <span>公式サイト：</span>
        <span class="data"></span>
      </div>
      <div class="p2_tag">
        <span>電源、Qi、禁煙喫煙などの情報：</span>
        <span class="data"></span>
      </div>
      <div class="p2_supply">
        <span>電源使用可否：</span>
        <span class="data"></span>
      </div>
      <div class="p2_other">
        <span>その他：</span>
        <span class="data"></span>
      </div>
      <div class="p2_mo_url">
        <span>参照URL：</span>
        <span class="data"></span>
      </div>
    </div><!-- end detail_area -->
  </div><!-- end content -->

  <div data-role="footer">&copy; plug-now.com</div>
  <ul>
    <li>メモ
      <ul>
      </ul>
      </ul>
    </li>
  </ul>
</div>


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-38024810-3', 'plug-now.herokuapp.com');
  ga('send', 'pageview');

</script>
