<div id="page1" data-role="page">
  <div data-role="header"><h1>jQuery Mobile デモ</h1></div>

  <div data-role="content">
    <%= @url %>
    <br>
    alert::<%= @alert %>
    <br>
    <br />
    <br />
    <br />

    <ul data-role="listview" 
        data-filter="true" 
        data-filter-placeholder="検索" 
        data-inset="true">
    <% @distance.each_with_index do |dis, i| %>
      <li><a href="#page2">
        <%= @title[i] + "[" + dis.to_s + "m]" %>
      </a></li>
    <% end %>
    </ul>
  </div>

  <div data-role="footer">&copy; keicode.com</div>
</div>



<div id="page2" data-role="page">
  <div data-role="header"><h1>次のページ</h1></div>

  <div data-role="content">
    test
  </div>

  <div data-role="footer">&copy; keicode.com</div>
</div>
